//
//  ProductionConfig.xcconfig
//  AlphaWallet
//
//  Created by Jili Bernadett on 2021. 01. 27..
//

SECONDARY_RPC_URL = wallet.ilgointest.e-diploma.org/rpc/ilgtest/
MAIN_RPC_URL = mainnet-rpc.ilgonwallet.com/
SECONDARY_NETWORK_NAME = ILGON Test
MAIN_NETWORK_NAME = ILGON
SECONDARY_TX_URL = explorer.ilgointest.e-diploma.org/
MAIN_TX_URL = www.ilgonexplorer.com/
SECONDARY_CHAIN_ID = 1768712052
MAIN_CHAIN_ID = 6909031
ETHERSCAN_URL_MAIN = ilgonexplorer.com/tx/
ETHERSCAN_URL_SECONDARY = explorer.ilgointest.e-diploma.org/tx/
MAIN_STAKING_CONTRACT_ADDRESS = $()0x6473b5733b02A36e9703F658549Ecc7b0E7F6c03
SECONDARY_STAKING_CONTRACT_ADDRESS = $()0x933cdac7b0bD9519C84e8F1F74Be51b07921e596
TRANSACTION_INFO_ENDPOINTS_PRIMARY = www.ilgonexplorer.com/
TRANSACTION_INFO_ENDPOINTS_SECONDARY = explorer.ilgointest.e-diploma.org/
